base          
caret         
cowplot       
data.table    
dplyr         
flexdashboard 
forcats       
ggplot2       
gridExtra     
h2o           
import        
jsonlite      
latex2exp     
leaflet       
maps          
mldr          
mlr           
multcompView  
NLP           
oce           
OpenML        
openxlsx      
parallel      
parallelMap   
pdftools      
plyr          
pracma        
quanteda      
raster        
readr         
reshape2      
rowr          
rsconnect     
rscopus       
rvest         
sampling      
scales        
sf            
shiny         
shinydashboard
somebm        
sp            
spectral      
tm            
tmap          
tmaptools     
tools         
updateR       
viridis       
wordcloud     
XML